<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}
           Тестовое задание
        {% endblock%}
    </title>
    {% block head %}

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' }}"/>
            <link rel="stylesheet" href="{{ 'assets/css/core.min.css' }}"/>
            <link rel="stylesheet" href="{{ 'assets/css/colors.min.css' }}"/>
            <link rel="stylesheet" href="{{ 'assets/css/components.min.css' }}"/>
            <link rel="stylesheet" href="assets/my_css/style.css" />

        <!-- Core JS files -->
        <script type="text/javascript" src="{{ 'assets/js/jquery-3.3.1.min.js' }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/form.js' }}"></script>
        <!-- /core JS files -->

        {% endblock %}
        <div class="navbar bg-primary p-3   ">
            <div class="row">
                <div class="col-auto bg-white">
                    <a href="register">Регистрация</a>
                </div>
                <div >

                </div>
                <div class="col-auto bg-white">
                    <a href="authorize">Вход в систему</a>
                </div>
                <div class="col-auto bg-white">
                    <a href="exit">Выход из системы</a>
                </div>
            </div>

        </div>
    {% endblock %}
</head>

</html>
