{%  include 'Resources/base.html.twig' %}

{% block body %}

    <div class="page-container">
        <div class="page-content panel">
            <div class="content-wrapper">
                <div class="content">
                    <div class="center row">
                        <div class="col-md-6 col-md-offset-6 bg-white">
                            <div class="panel-body">
                                <form name="registration" method="post">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div><input type="text" id="registration_login" name="login" required="required" placeholder="Login" class="form-control" /></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div><input type="text" id="registration_name" name="username" required="required" placeholder="Name" class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div><input type="email" id="registration_email" name="registration_email" required="required" placeholder="E-mail" class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div><input type="password" id="registration_password_first" name="registration_password_first" required="required" placeholder="Пароль" class="form-control" /></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div><input type="password" id="registration_password_second" name="registration_password_second" required="required" placeholder="Повторите пароль" class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <br>
                                                    <div class="text-right">
                                                        <button class="btn btn-primary legitRipple" name="register_button">
                                                            Зарегистрироваться
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <input type="hidden" name="act" value="register"/>
                                    <input type="hidden" id="registration__token" name="registration[_token]" value="#" />
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}