.h1{
    background-color: red;
}
.test{
    background: aqua;
   padding: auto;
}

.page-container {
    padding: 20px 20px 60px;
}

.login-container {
    position: center;
    padding: 20px;
    width: 320px;
}

